.header{
    display: flex;
    justify-content: space-between;
    font-family: "DM Sans";
    &__menu{
        display: flex;
        gap: 50px;
        // align-items: center;
       
        &__items{
            margin-top: 8px;
            display: flex;
            gap: 65px;
            color:#666666;
            
        }
        &__link{
            &:hover{
                color: black;
            }
        }
        
    }
}
