@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
}

.wrapper {
  width: 100lvw;
  overflow-x: hidden;
  height: 100%;
}
.wrapper__content {
  padding: 40px 0 60px 0;
  width: 100%;
  height: 100%;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: unset;
}

.main {
  margin-top: 225px;
}

body {
  overflow-x: hidden;
}

.menu__logos {
  display: flex;
  gap: 21px;
}
.menu__logos svg {
  width: 30px;
  height: 30px;
  color: rgb(102, 102, 102);
}

.header {
  display: flex;
  justify-content: space-between;
  font-family: "DM Sans";
}
.header__menu {
  display: flex;
  gap: 50px;
}
.header__menu__items {
  margin-top: 8px;
  display: flex;
  gap: 65px;
  color: #666666;
}
.header__menu__link:hover {
  color: black;
}

.section {
  font-family: "Poppins";
}
.section__title, .section__subtitle {
  text-align: center;
}
.section__title {
  font-size: 48px;
}
.section__subtitle {
  margin-top: 50px;
  color: #666666;
  margin-bottom: 146px;
  font-size: 32px;
}

.hello {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.hello__text {
  color: #42446E;
  font-size: 58px;
}
.hello__text--gradient {
  background: linear-gradient(90deg, #13B0F5 -2.06%, #E70FAA 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.hello__img-block {
  border-radius: 230px;
  width: 349px;
  height: 349px;
  border: 9px solid transparent;
  position: relative;
  background: linear-gradient(180deg, #E70FAA 0%, #00C0FD 100%) border-box;
}
.hello__img-block::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.hello__img-block img {
  position: absolute;
  border-radius: 230px;
}

.stack {
  margin-top: 350px;
}
.stack__item {
  width: max-content;
}
.stack__list {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(2, auto);
  row-gap: 90px;
  column-gap: 100px;
}
.stack__img--git {
  color: black;
  width: 88px;
  height: 88px;
}
.stack__img--git path {
  width: 100%;
  height: 100%;
}

.projects {
  margin-top: 214px;
}
.projects__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, auto);
  row-gap: 62px;
  grid-auto-flow: row dense;
}
.projects__item {
  box-shadow: 2px 2px 100px 0px rgba(0, 0, 0, 0.2);
  border-radius: 20px;
  width: 375px;
  overflow: hidden;
  display: block;
}
.projects__item__about {
  padding: 27px 30px;
}
.projects__item__title {
  font-size: 28px;
  margin-bottom: 17px;
}
.projects__item__subtitle {
  color: rgb(102, 102, 102);
  margin-bottom: 12px;
  font-size: 18px;
  max-width: 314px;
}
.projects__item__stack {
  font-size: 14px;
  color: rgb(102, 102, 102);
  margin-bottom: 21px;
}
.projects__item__stack--bold {
  color: #42446E;
  font-size: 16px;
  font-weight: 400;
}
.projects__item__links {
  display: flex;
  justify-content: space-between;
}
.projects__item__links img {
  width: 20px;
  height: 20px;
}
.projects__item__link-block {
  display: flex;
  align-items: center;
  gap: 12px;
  font-size: 16px;
}
.projects__item__link-block__link {
  text-decoration: underline;
}

.footer {
  margin-top: 203px;
  display: flex;
  flex-direction: column;
  gap: 60px;
  font-family: "DM Sans";
}
.footer__license {
  margin-right: 16px;
  font-size: 18px;
  background: linear-gradient(-90deg, #E70FAA 0%, #00C0FD 100%);
  -webkit-background-clip: text; /* Для WebKit-браузеров */
  background-clip: text;
  color: #666666;
}
.footer__license__gradient {
  color: transparent;
}
.footer__menu {
  display: flex;
  align-items: center;
  gap: 60px;
}
.footer__menu__logo__img {
  color: rgb(66, 68, 110);
  width: 30px;
  height: 30px;
}
.footer__menu__items {
  display: flex;
  gap: 63px;
  color: rgb(66, 68, 110);
}
.footer__menu__logos {
  display: flex;
  gap: 21px;
}
.footer-block {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footer-block--bottom .footer__menu__items {
  gap: 52px;
}
.footer-block--top svg {
  color: rgb(66, 68, 110);
}
.footer__divide {
  width: 100%;
  height: 2px;
  background: rgb(102, 102, 102);
  opacity: 0.3;
}

/*# sourceMappingURL=main.css.map */
